:root {
  --primary: #4ade80;
  --primary-alt: #22c55e;
  --grey: #64748b;
  --dark: #1e293b;
  --dark-alt: #334155;
  --light: #f1f5f9;
  --bg: #dcccbc;
  --sidebar-width: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  background: var(--bg);
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

html {
  font-family: "Noto Sans", sans-serif;
}

/* Mobile First Styles (below 768px) */
@media screen and (max-width: 767px) {
  .is-mobile {
    display: block;
  }

  .is-desktop {
    display: none;
  }
}

/* Desktop Styles (768px and above) */
@media screen and (min-width: 768px) {
  .is-mobile {
    display: none;
  }

  .is-desktop {
    display: block;
  }
}
